:root {
    --green: #00f001;
    --light-green: #80f880;
    --dark-green: #001800;
}

.home {
    display: flex;
    height: 100vh;
    align-items: center;
}

.home-image, .home-map {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    height: 100%;
}

.home-image-image {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
}

.home-description-modal-active {
    flex-direction: column;
    justify-content: space-between;
}

.home-image {
    border-right: 1px solid #ccd5d0;
}

.home-image img {
    max-width: 100%;
}

.home-description-modal {
    background: #fff;
    text-align: left;
    height: 50%;
    width: calc(100% - 2rem);
    padding: 1rem;
    overflow: scroll;
}

.home-description-modal button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 36px;
    cursor: pointer;
    color: var(--green);
    float: right;
}

.home-description-modal .awardee-details > * {
    margin: 5px 0;
}

.home-description-modal .awardee-details h1 {
    color: var(--green);
    font-size: 48px;
    letter-spacing: 2px;
}

.home-description-modal .awardee-details h3 {
    color: #333;
}

.home-description-modal .awardee-details a {
    color: var(--green);
    display: inline-block;
    width: 100%;
    margin: 2px 0;
}

.home-description-modal .awardee-details p {
    line-height: 1.65em;
    margin: 10px 0;
    text-align: justify;
    width: 95%;
}

.marker, .marker-text {
    display: none;
    cursor: pointer;
}

#image-map area {
    cursor: url('../images/cursor.png') 10 20, auto;
}

/* CSS Gradient */

.home {
    background: linear-gradient(216deg, #e84393, #4834d4, #fbc531, #f7f4ec);
    background-size: 800% 800%;

    -webkit-animation: Vibrations 20s ease infinite;
    -moz-animation: Vibrations 20s ease infinite;
    animation: Vibrations 20s ease infinite;
}

@-webkit-keyframes Vibrations {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@-moz-keyframes Vibrations {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@keyframes Vibrations {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

